@{
    ViewBag.Title = "GioHangTrong";
    Layout = "~/Views/Share/LayoutChung.cshtml";
}

<br />
<div class="container">
    <h1 style="text-align:center">Hiện chưa có sản phẩm nào trong giỏ hàng</h1>
    <b style="margin-left:500px">Tiếp Tục<a href="@Url.Action("Index","ThoiTrang")"> Mua Sắm</a></b>
</div>

